/*
Color pallet link:
afterhttp://www.color-hex.com/palettes/37363.png
*/

html{
    /* Border */
    border-style: solid;
    border-color: #291037;
    border-width: 3px;

    overflow-x: hidden; /* stop horizontal stretch */
}

body {

    min-height: 100vh;

    /*Child Element Placement */
    display: flex;
    flex-direction: column;

    /*Color and Style*/
    background-color: #642C6D;
    color: #FBC3A2;
}

/* Holds website Name + Nav bar.. Do we even need a nav bar?? */
header {
    /* Child Element Placement */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Sizing */
    margin-bottom: 5px;
}

main {
    /* Child Element Placement */
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    /* Child Element Placement */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Padding */
    padding-top: 20px; /*Space between Footer and Main*/

}

nav {
    /* Child Element Placement */
    display: flex;
    justify-content: space-evenly;

    max-width: 500px;
    width: 100vw;
}

input[type=button] {
    /* Border */
    border-style: solid;
    border-color: #291037;
    border-width: 3px;

    /* Text */
    font-weight: bold;
    color:#291037;
}

/* Navigator Buttons*/
.nav-button {
    padding: 10px;
    margin-bottom: 5px;

    background-color: #C76C98;
}

#website-name-and-logo-div {
    /* Child Element Placement */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    /* Sizing */
    width: 500px;
    max-width: 100vw;
}

#imageGallery {
    /* Child Element Placement */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* shrinks gallery images for mobile */
#imageGallery img{
    max-width: 98vw;
}

/* Holds slider, color picker, etc. */
#art-tools-div {
    /* Child Element Placement */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#art-tools-div div{
    /* Child Element Placement */
    display: flex;
    justify-content: center;
    align-items: center;
}

#art-tools-line-2 {
    /* Child Element Placement */
    display: flex;
    justify-content: space-evenly;

    /* Sizing */
    width: 100vw;
    max-width: 500px;

    /* Spacing */
    margin: 10px

}

/* Eraser, undo, redo */
#art-tools-line-2 button {
    flex: 1; /* each button gets equal share */
    margin: 0 5px; /* small spacing */
}

#image-input-div {
    /* Child Element Placement */
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3%;
}

/* Canvas color button & label positioning */
#canvas-color-div {
    /* Child Element Placement */
    display: flex;
    align-items: center;
    gap: 10px
}